<div *ngIf="error" class="error">
  {{ error }}
</div>

<h1 class="ui header">D&B - CNA Solution for Search & Investigations</h1>
<div *ngIf="!isAuthenticated">
  <p>Welcome to the Dun & Bradstreet Solution for CNA.</p>
  
  <p>When you click the login button below, you will be redirected to the login page on your D&B Single Signon. After you authenticate,
    you will be able to access the application and perform searches and Investigations.</p>
  <button id="login-button" class="ui fluid primary button" role="button" (click)="login()">Login</button>
</div>

<div *ngIf="isAuthenticated && userName">
  <p>Welcome back, {{ userName }}!</p>
  <p>
    You have successfully authenticated against your D&B account, and have been redirected back to this application.
    Visit the <a href="/search">Search </a> page to Search by Name or Duns Number.
  </p>
  <p>Or you can visit the <a href="/investigation">Investigations</a> page to submit a new Investigation.</p>
</div>
