<div class="ui four item menu">
  <a routerLink="/" class="header item">
    <img class="ui mini image" src="/assets/angular.svg">
    &nbsp;
    CNA
  </a>
    <a id="profile-button" class="item" *ngIf="isAuthenticated" routerLink="/search">Search</a>
    <a id="messages-button" class="item" *ngIf="isAuthenticated" routerLink="/investigation"><i aria-hidden="true" class="mail outline icon"></i>Investigation</a>
    <a id="logout-button" class="item" *ngIf="isAuthenticated" (click)="logout()">Logout</a>
</div>

<div class="ui text container" style="margin-top: 2.5em;">
  <router-outlet></router-outlet>
</div>
